

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.jumbotron {
    padding: 30px 15px;
    margin-bottom: 30px;
    background-color: #009933;
    color: #FFFFFF;
}

#competitionResults {
    background-color: #33CC33;
    color: #FFFFFF;
    padding: 30px 15px;
    margin-bottom: 30px;
    padding-right: 60px;
    padding-left: 8%;
}

.map {
    padding-top: 10%;
}

div.footer
{
    margin-top: 20px;
    padding: 5px;
    text-align: center;
    border-top: solid 3px #CCE06E;
}

div.footer a
{
    text-decoration: none;
    color: grey;
}

div.menu
{
    /* background-color: #106010; */
    padding: 5px;
    padding-right: 8%;
    text-align: right;
    border-bottom: solid 3px #CCE06E;
}

div.menu a
{
    padding: 2px;
    text-decoration: none;
    font-weight: bold;
}

div.menu_buttons
{
    padding: 5px;
    margin-top: 10px;
}

#repairImg {
    padding-top: 6%;
}

#topbarLogo {
    padding-left: 5%;
}

#bikeLady {
    height: 50%;
}

#decorativeImage {
    margin-right: 250px;
}















